.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.imageWrapper {
  position: relative;
}

.image {
  width: 400px;
  height: 400px;
}

.blurred {
  filter: blur(4px);
}

.caption {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 10px;
  transform: translate(-50%, -50%);
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  font-size: 18px;
  font-family: "Comic Sans MS", "Comic Sans", cursive;
}

.map {
  width: 500px;
  height: 500px;
  border: none;
}

.buttons {
  margin-top: 20px;
}

.button {
  padding: 10px 20px;
  background-color: #ffffff;
  color: #000000;
  border: none;
  background-image: linear-gradient(
    to right,
    #77a1d3 0%,
    #79cbca 51%,
    #77a1d3 100%
  );
  margin: 5px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 20px #eee;
  border-radius: 4px;
}
